<header class="main-header" ng-controller="Header">
    <!-- Logo -->
    <a ui-sref="admin.interface.dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>L</b>S</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Leather</b>SHOP</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" ng-click="logout()"><i class="fa fa-power-off"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>